@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
*, *::before, *::after 
{
    box-sizing:inherit;
}
/*  
html{
    box-sizing: border-box;
} */


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    

}

.container > .box {
    justify-content: center;
    display: flex;    
}

#header {
    padding: 0rem 0rem 0rem;
    /* margin: 3em 3em 0em; */
    width: 98vw;
    height: 40vh;
    background-color:#9842d9;
    color: aliceblue;
    margin-top: 1rem;
}

.header {
    background-color:#890783;
    width: 100%;    
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    height: 100%;
    width: 98vw;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    color:#890783;
}
.main {
    align-items: center;
    text-align: left;
    justify-content: center;
}

.text-main {
    margin: 5rem 5rem 5rem 5rem;
    align-content: center;
}
.text-footer{
    align-items: center;

}

p {
    font-size: large;
}


/******************************************/
/*TEAM*/
#equipe {
    justify-content: center;
    margin-bottom: 5rem;
}
.equipe{
    padding: 3rem 0rem 0rem 0rem;
    align-items: center;
}
.team-1 {
    display: inline-block;
}
.circle-1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 0.5rem;
    background-color: #9842d9;
}
.team-2 {
    display: inline-block;  
}
.circle-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 0.5rem;
    background-color: #9842d9;
}
.team-3 {
    display: inline-block;
}
.circle-3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 0.5rem;
    background-color: #9842d9;
}
.team-1-dev {
    padding-top: 1rem;
}
.team-2-dev {
    padding-top: 1rem;
}
.team-3-dev {
    padding-top: 1rem;
    align-items: center;
}
.section-equip {
    margin: 30px 0 0 0;
}

.sublinha {
    padding: 0 0 0 0;
    border: #9842d9 solid 1px;
    margin: 10px 20px 0 48%;
    width: 68px;    
}


#footer {
    width: 98vw;
    margin-bottom: 1rem;
    background-color: #890783;
    color:#ffffff;
    display: flex;    
    justify-content: center;
}
.footer {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 4rem;
    justify-content: center;
    margin-top:2rem ;
}
