@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

* {
    font-family: "Anton SC", sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

body {
    /* background-color: #b31d1d; */
}

#container {
    background-color: rgba(43, 53, 53, 0.459);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

#login {
    /* background-color: coral; */
    height: 50%;
    width: 50%;
    margin: 10px;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    height: 500px;
    width: 500px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay form {
    /* background-color: black;     */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.overlay form input {
    width: 50%;
    height: 50%;
    margin: 0 0 16px;
    padding: 0 0 0 10px;
}

.overlay form input:focus {
    border-color: #c73237c5;
}

.overlay form label {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #overlay form label {
        display: flex;
        flex-direction: wrap;
        justify-content: center;
        align-items: center;
    } */
.overlay form button {
    width: 50%;
    height: 100px;
    background-color: #f72e34dc;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .75px;
    padding: 0 26px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    text-shadow: #000;
}

.overlay form button:hover {
    background-color: #c73237c5;
}

#header {
    display: flex;
    justify-content: center;
}

#header h1 {
    /* background-color: aqua; */
    width: 50%;
    font-size:  50px;
    color: #c73237c5;
    border-color: #000000bb;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div {
    display: none;
}

h1{
    color: #FFF;
}
main {
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
span {
    color: #000;
    /* text-emphasis-color: red;
    text-shadow: #ce1111; */
}
